@CHARSET "UTF-8";
body {
	margin: 0;
	text-align: left;
}

table{
	width: 100%;
	background-color: #FFFFFF;
	padding: 1px;
	color: #FFFFFF;
}

table caption {
	text-align: left;
	color: #000000;
}

table tr {
	background-color: #DDDDDD;
}

table th {
	background-color: #003366;
	font-weight: normal;
}

table tbody th{
	background-color: #777777;
}
	
table td {
	color: #000000;
}
