@CHARSET "UTF-8";
body {			
		font-family : courier;
	}
	
.header{
	text-decoration:underline;
	font-family:courier;
	background-color:#D5D5D5;
}	

td {
	border: 1px solid;	
	border-color : white Gray Gray white;	
	font-family:Arial;	
	font-size:12px;	
    -moz-user-select:none;	
    overflow:hidden;	
    padding-top:0px;	
    padding-bottom:0px;
}

th {
	font-family:arial;
	font-size:12px;	
	background-Color:#D4D0C8;
	
	/*background-image:url(../images/upsmall.png);
	background-repeat: no-repeat;  
	background-position: right;  
	background-attachment: fixed;	*/
	
	border: 1px solid;	
	border-color : white Gray Gray white;	
	text-align: center;	
	margin:0px;	
	padding:5px 0px 5px 0px ;	
	font-weight:normal;	
    -moz-user-select:none;	
    overflow:hidden;
		
}

.WizardButton {
	color: #ffffff;
	background: #798EC5;
	font-size: xx-small;
	font-family: verdana, arial, helvetica, sans-serif;
	border-right: #000000 1px solid;
	border-bottom: #000000 1px solid;
	border-left: #666666 1px solid;
	border-top: #666666 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	text-decoration: none; height: 18px;
}

.WizardButton:hover
{
    cursor: pointer;
}


.WizardContainer {
	background: #EEEEEE;
	border: #798EC5 1px solid;
	padding: 2px;
}

#box .dojoButton {
	float: right;
	margin-right: 10px;
}

.text{
	font-family: arial; 
	font-size: 13px; 
}

#table{
	width:100%; 
	height:120px; 
	background-color:white;
	overflow:hidden;	
	
}

#searchBox{
	background-color: #D1FAE1;
	/*display:none;*/

}

.current{
	background: #EEEEEE;
	border: #798EC5 1px solid;
	padding-left: 6px;
	padding-right: 6px;
}

#tableBody tr td{
	text-align: center;
}

.dojoDialog {
	background : #eee;
	border : 1px solid #999;
	-moz-border-radius : 5px;
	padding : 4px;
}